.content{
  padding-top: 20px;
  display: flex;
  align-items: center;
  height: 7vh;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;

  button{
    height: 100%;
    width: 50px;
    margin-right: 10px;
    color: #fff;
    border: none;

    &:hover{
      background-color: #0273ae;
    }
  }
}