.content{
  height: 100%;
  width: 80vw;
  background-color: transparent;
  color: #fff;

  .card-name{
    font-size: 25px;
  }
  
  .contact{
    
    div{
      display: flex;
      padding-left: 39%;

      p{
        padding-left: 10px;
      }
    }
  }

  .social-media{
    display: flex;
    justify-content: center;
    
    a{
      color: #000;
      font-size: 20px;
      padding-left: 15px;
      line-height: 40px;

      div{
        background: #fff;
        width: 40px;
        height: 40px;
      }
    }
  }
}