.card{
  margin-top: 10px;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  
  .title{
    padding: 10px 0 20px 0;
    color: #94a3b8;
    font-size: larger;
  }

  h1{
    font-size: 80px;
    font-weight: 700;
  }

}