.card{
  margin-top: 10px;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .left-element{
    padding-left: 15%;

    .title{
      padding: 10px 0 0 0;
      color: #94a3b8;
      font-size: larger;
    }
    
    img{
      width: 60;
    }
  }

}